In [1]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------------------------- ------------ 0.8/1.2 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 1.9 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.35-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.35-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------------- ------------------------ 0.8/2.1 MB 3.7 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.5 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.35 typing-extensions-4.12.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\program files\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.5 MB 4.2 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/11.5 MB 5.4 MB/s eta 0:00:02
   -------------- ------------------------- 4.2/11.5 MB 5.9 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.5 MB 6.2 MB/s eta 0:00:02
   ---------------------- ----------------- 6.6/11.5 MB 5.8 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.5 MB 5.8 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 6.1 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 6.3 MB/s eta 0:00:00
Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/12.6 MB 8.4 MB/s eta 0:00:02
   ----------- ---------------------------- 3.7/12.6 MB 9.1 MB/s eta 0:00:01
   ----------------- ---------------------- 5.5/12.6 MB 9.1 MB/s eta 0:00:01
   ------------------------- -------------- 7.9/12.6 MB 9.5 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.6 MB 9.6 MB/s eta 0:00:01
   ------------------------------------- -- 11.8/12.6 MB 9.7 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 9.4 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import psycopg2
import sqlalchemy as sa
from sqlalchemy import create_engine

In [6]:
# Cadena de conexi贸n
db_url = "postgresql://postgres:123456@localhost:5432/northwind"
engine = sa.create_engine(db_url)

In [7]:
# Consulta SQL
query = "SELECT * FROM Products"

# Ejecuci贸n de la consulta y carga de resultados en un DataFrame
df = pd.read_sql(query, engine)
df.head()

,product_id,product_name,supplier_id,category_id,quantity_per_unit,unit_price,units_in_stock,units_on_order,reorder_level,discontinued
0,1,Chai,8,1,10 boxes x 30 bags,18.00,39,0,10,1
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,1
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [8]:
# Consulta SQL
query = "SELECT products.product_id, products.product_name, products.unit_price FROM Products WHERE products.unit_price >= 15 AND products.unit_price <=50"

df = pd.read_sql(query, engine)
df.head()

   product_id                  product_name  unit_price
0           1                          Chai       18.00
1           2                         Chang       19.00
2           4  Chef Anton's Cajun Seasoning       22.00
3           5        Chef Anton's Gumbo Mix       21.35
4           6  Grandma's Boysenberry Spread       25.00

In [9]:
# Consulta SQL
query = """SELECT p.product_id, p.product_name, s.company_name, s.city, c.category_name, p.quantity_per_unit  
FROM public.products p
INNER JOIN public.categories c ON c.category_id = p.category_id
INNER JOIN public.suppliers s ON s.supplier_id = p.supplier_id
ORDER BY p.product_id ASC"""

df = pd.read_sql(query, engine)
df.head()

,product_id,product_name,company_name,city,category_name,quantity_per_unit
0,1,Chai,"Specialty Biscuits, Ltd.",Manchester,Beverages,10 boxes x 30 bags
1,2,Chang,Exotic Liquids,London,Beverages,24 - 12 oz bottles
2,3,Aniseed Syrup,Exotic Liquids,London,Condiments,12 - 550 ml bottles
3,4,Chef Anton's Cajun Seasoning,New Orleans Cajun Delights,New Orleans,Condiments,48 - 6 oz jars
4,5,Chef Anton's Gumbo Mix,New Orleans Cajun Delights,New Orleans,Condiments,36 boxes

In [10]:
# Consulta SQL
query = """SELECT ship_country, count(*) as orders_quantity
FROM public.orders
GROUP BY ship_country
ORDER BY count(*) desc"""

df = pd.read_sql(query, engine)
df

   ship_country  orders_quantity
0       Germany              122
1           USA              122
2        Brazil               83
3        France               77
4            UK               56
5     Venezuela               46
6       Austria               40
7        Sweden               37
8        Canada               30
9         Italy               28
10       Mexico               28
11        Spain               23
12      Finland               22
13      Ireland               19
14      Belgium               19
15      Denmark               18
16  Switzerland               18
17    Argentina               16
18     Portugal               13
19       Poland                7
20       Norway                6

In [12]:
# Consulta SQL
query = """SELECT p.product_id, p.product_name, c.category_name, count(od.*) as orders_quantity
FROM public.order_details od
INNER JOIN public.products p ON p.product_id = od.product_id
INNER JOIN public.categories c ON c.category_id = p.category_id
GROUP BY p.product_id, p.product_name, c.category_name
HAVING count(od.*) > 10
ORDER BY p.product_name ASC"""

df = pd.read_sql(query, engine)
df.head(15)

    product_id                  product_name   category_name  orders_quantity
0           17                  Alice Mutton    Meat/Poultry               37
1            3                 Aniseed Syrup      Condiments               12
2           40              Boston Crab Meat         Seafood               41
3           60             Camembert Pierrot  Dairy Products               51
4           18              Carnarvon Tigers         Seafood               27
5            1                          Chai       Beverages               38
6            2                         Chang       Beverages               44
7           39              Chartreuse verte       Beverages               30
8            4  Chef Anton's Cajun Seasoning      Condiments               20
9           38                 C么te de Blaye       Beverages               24
10          58        Escargots de Bourgogne         Seafood               18
11          52                      Filo Mix  Grains/Cereals               29
12          71                   Flotemysost  Dairy Products               42
13          33                       Geitost  Dairy Products               32
14          56        Gnocchi di nonna Alice  Grains/Cereals               50